{% extends "base.html" %}

{% block title %}关于我{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>关于我</h3>
    <h4>从事网络、Linux系统与MySQL的运维工作。偶尔写写代码。目前专注于IPv6与HTTP/2.0的学习与测试。</h4>
    <br>
    <h3>联系我</h3>
    <h4><a href="mailto:nonmcw@126.com">nonmcw@126.com</a></h4>
    <br>
    <h3>关于本站</h4>
    <p>前段时间觉着SDN(软件定义网络)会流行起来，于是学习了python与openflow。最后发现我们的城市SDN应用并没有多少！于是...后来就有个这个博客。</p>
    <h4>本站基础环境与组件</h4>
    <h4>平台：GNU/Linux </h4>
    <h4>数据库：MySQL-8.0</h4>
    <h4>前端反向代理：Nginx-1.14</h4>
    <h4>Web服务器：uWSGI-2.0</h4>
    <h4>语言：Python-3.6</h4>
    <h4>框架：Flask-1.0、Bootstrap-3.7</h4>
</div>

{% endblock %}
