{% extends "base.html" %}

{% block title %}关于我{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>关于我</h3>
    <h4>从事网络、Linux系统与MySQL的运维工作。偶尔写写代码。目前专注于IPv6的学习与测试。</h4>
    <br>
    <h3>联系我</h3>
    <h4><a href="mailto:nonmcw@126.com">nonmcw@126.com</a></h4>
    <br>
    <h3>关于本站</h4>
    <p>前段时间觉着SDN(软件定义网络)会流行起来，于是学习了python与openflow。最后发现我们的城市SDN应用并没有多少！心想这段时间的努力也不能就此荒废了呀。最终在爬虫和个人博客之间选择了编写个人博客，一来巩固一下Python语言的相关知识，二来方便以后分享IPv6协议的相关知识。</p>
    <h4>本站基础环境与组件</h4>
    <h4>系统：Linux</h4>
    <h4>数据库：MySQL-8.0.x</h4>
    <h4>前端反向代理：Nginx-1.15.x</h4>
    <h4>Web服务器：UWSGI</h4>
    <h4>语言：Python3.6.x</h4>
    <h4>框架：Flask-1.0、Bootstrap-3.7</h4>
</div>

{% endblock %}
