{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}主页{% endblock %}

{% block page_content %}
<div class="page-header">
     <h4>欢迎来到我的个人主页。最近将学习的IPv6相关知识整理出来，然后测试。如果您也对IPv6这个还未大规模应用的协议感兴趣，加入我们......</h4>
</div>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% include '_posts.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endblock %}

{% block script %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
